#toolbar {
  position: fixed;
  top: 10px;
  right: 10px;
}

dialog, .dialog {
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 10px black;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  padding: 20px;
  transition: all .2s ease;
}

label {
  user-select: none;
}

.main-content {
  padding-top: 40px;
}