body {
  margin: 0;
  background-color: #1e1e1e;
}

.dialog {
  z-index: 11;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 10px black;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  padding: 20px;
  transition: all .2s ease;
  background-color: #383838;
  color: white;
}

.dialog input, .dialog select {
  background-color: #00000036;
  padding: 5px 10px;
  color: white;
  border: 1px solid #0d0d0d;
  margin: 5px;
  border-radius: 3px;
  transition: all .1s ease;
}

.dialog input:hover, .dialog select:hover {
  background-color: #00000025;
}

.text-output-container {
  padding: 5px 10px;
  color: white;
}

.app-menu {
  display: block;
  user-select: none;
  color: white;
  font-family: sans-serif;
  font-size: 10pt;
  height: 33px;
}

.app-menu > span {
  padding: 8px;
  display: inline-block;
}

.app-menu > span:hover {
  background-color: rgba(255, 255, 255, 0.18)
}

.app-menu > span:active {
  background-color: rgb(92, 92, 92)
}

.context-menu {
  position: fixed;
  z-index: 10;
  background-color: rgb(44, 44, 44);
  font-family: sans-serif;
  font-size: 10pt;
  color: rgba(255, 255, 255, 0.74);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.479);
}

.context-menu.hidden {
  display: none;
}

.context-menu div {
  -webkit-user-select: none;
  padding: 10px;
}

.context-menu div:hover {
  background-color: rgba(255, 255, 255, 0.10)
}

.context-menu .separator {
  background-color: white
}

.context-menu .submenu::after {
  content: '>';
}

.toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #b7b7b7;
  transition: all 0.2s ease;
  opacity: 0;
  padding: 20px 40px;
  border-radius: 3px;
  z-index: 11;
}

.toast.visible {
  opacity: 1;
}

.disabler {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.479);
  z-index: 10;
}

.disabler.visible {
  display: block;
}

.command-button-wrapper {
  color: white;
  padding: 20px;
}

.command-button {
  display: inline-block;
  padding: 15px 30px;
  width: 200px;
  margin: 10px;
  user-select: none;
  -webkit-user-select: none;
  background-image: linear-gradient(transparent, transparent);
  background-color: rgba(255, 255, 255, 0.253);
  text-align: center;
}

.command-button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
}